nacos:
  enable: false
  ip: 127.0.0.1
  port: 8848
  namespace: public
  group: DEFAULT_GROUP
  service_data_id: service.config
  prefix: "uniplore"
  current_service: smart-approach
  current_service_port: 5001
  heartbeat_interval: 10
services:
  smart-approach:
    ip: 127.0.0.1
    name: smart-approach.uniplore
    port: 5001